.custom-navbar-brand {
    margin-left: 325px;
    margin-right: 54%;
    width: 10%;
  }
  
  @media (max-width: 1600px) {
    .custom-navbar-brand {
    margin-left: 115px;
    margin-right: 62%;
    }
  }

  @media (max-width: 990px) {
    .custom-navbar-brand {
    margin-left: 20px;
    margin-right: 1%;
    }

    .custom-buttons {
      margin-left: 20px;
      flex-direction: column;
    }
  }

  